/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal !important;
  font-family: 'system';
  background: #ececec;
  color: #1b1d1c;
  user-select: none;
}

fieldset {
  border: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

img {
  border: 0;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

input[type='submit'] {
  -webkit-appearance: none;
}

/*
* Global style
*/

html {
  line-height: 1.625;
}

h1 {
  font-size: 1.625em;
  line-height: 1.421875em;
  letter-spacing: 0.0125em;
  margin-bottom: 0.609375em;
}

h2 {
  font-size: 1.35416666666666667em;
  line-height: 1.3044928175em;
  letter-spacing: 0.0125em;
  margin-bottom: 0.3205078125em;
}

h3 {
  font-size: 1.15416666666666667em;
  line-height: 1.2982421875em;
  letter-spacing: 0.0125em;
  margin-bottom: 0.3267578125em;
}

p {
  margin-bottom: 0.8125em;
}

/* Device Types with responsive typography */

@media (min-width: 1px) {
  /* Mobile */
  body {
    font-size: 65%;
  }
}

@media (min-width: 550px) {
  /* tablet */
  body {
    font-size: 70%;
  }
}

@media (min-width: 750px) {
  /* phablet */
  body {
    font-size: 75%;
  }
}

@media (min-width: 960px) {
  /* laptop */
  body {
    font-size: 78%;
  }
}

@media (min-width: 1280px) {
  /* desktop */
  body {
    font-size: 82%;
  }
}

@media (min-width: 1920px) {
  /* large screen */
  body {
    font-size: 87%;
  }
}

.event-weekend {
  background: #f8cbad;
  color: #000;
}

.event-late {
  background: #d41322;
  color: #fff;
}

.event-on-time {
  background: #167314;
  color: #fff;
}

.toolbar {
  margin: 0.40625em;
  display: flex;
}

.toolbar select {
  padding: 0 0.8125em;
  margin: 0 0.8125em;
}

#root {
  margin: 0.203125em;
}

.list-view {
  overflow: auto;
  height: 95vh;
  position: relative;
}

.list-view > div {
  display: flex;
}

.list-view > div:nth-of-type(odd) {
  background: #e0e0e0;
}

.list-view > div:nth-of-type(even) {
  margin-bottom: 1.625em;
}

.list-view > div:last-of-type {
  margin-bottom: 0;
}

.list-view > div > span {
  padding: 0.40625em;
  flex: 1 0 6.5em;
  border: 1px solid #ddd;
}

.list-view > div > span:first-of-type {
  flex: 1 0 9em;
  max-width: 9em;
}

.sticky-row-1 {
  position: sticky;
  top: 0;
}

.sticky-row-1 > span {
  background: #e2e2e2;
  box-shadow: 0.11em 0.11em 0.911em #aaa;
  padding: 0.203125em 1.8125em 0.203125em 0.203125em !important;
}

.sticky-row-2 {
  position: sticky;
  top: 3.7em;
  margin-bottom: 0 !important;
}

.sticky-row-2 > span {
  background: #d2d2d2;
  box-shadow: 0.11em 0.11em 0.911em #bbb;
}

.odd-week {
  border: 1px solid #fbcbcbcc !important;
}

.sticky-row-1 > .odd-week,
.sticky-row-2 > .odd-week {
  border: 1px solid #ffb6c1 !important;
}

.loading-box {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 125%;
}

.loading-box a {
  background: #ddd;
  border-radius: 16px;
  padding: 0.8125em;
}

.right-corner {
  margin: 0 0.8125em 0 auto;
}

.btn-extract,
.btn-reload {
  background: #ddd;
  border-radius: 16px;
  padding: 0.203125em 0.8125em;
  margin-left: 0.8125em;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #aaa;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 820ms infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.loading {
  color: #999;
}

::-webkit-scrollbar {
  width: 1.25em;
  height: 1.25em;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #eee;
  border: 0.125em solid #ccc;
}

::-webkit-scrollbar-corner {
  background: #aaa;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #8888882f;
}

:hover::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb,
:focus::-webkit-scrollbar-thumb {
  background: #9999999f;
  border: 0.125em solid #888;
}
